### APERTURA Y EXPLORACIÓN DEL ARCHIVO: ***exported_db_data.csv***
---

In [1]:
# Importamos las librerias

import pandas as pd
import numpy as np

In [2]:
# Abrimos el archivo, las primeras líneas del DataFrame

respuesta_q10= pd.read_csv('../Archivos/exported_db_data.csv')
respuesta_q10.head()

,index,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER
0,0,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Kaggle Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Listamos las columnas que tiene el DF

list(respuesta_q10.columns)

['index',
 'Q10_Part_1',
 'Q10_Part_2',
 'Q10_Part_3',
 'Q10_Part_4',
 'Q10_Part_5',
 'Q10_Part_6',
 'Q10_Part_7',
 'Q10_Part_8',
 'Q10_Part_9',
 'Q10_Part_10',
 'Q10_Part_11',
 'Q10_Part_12',
 'Q10_Part_13',
 'Q10_Part_14',
 'Q10_Part_15',
 'Q10_Part_16',
 'Q10_OTHER']

In [4]:
# Vemos la forma que tiene el DF

respuesta_q10.shape
f'Las filas y columnas del archivo son {respuesta_q10.shape}'

'Las filas y columnas del archivo son (25973, 18)'

In [5]:
# Vemos el tamaño del DF

respuesta_q10.size

467514

In [6]:
# Vemos la información general del DF

respuesta_q10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25973 entries, 0 to 25972
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        25973 non-null  int64
 1   Q10_Part_1   9507 non-null   object
 2   Q10_Part_2   9792 non-null   object
 3   Q10_Part_3   1062 non-null   object
 4   Q10_Part_4   209 non-null    object
 5   Q10_Part_5   1770 non-null   object
 6   Q10_Part_6   175 non-null    object
 7   Q10_Part_7   1067 non-null   object
 8   Q10_Part_8   753 non-null    object
 9   Q10_Part_9   348 non-null    object
 10  Q10_Part_10  2051 non-null   object
 11  Q10_Part_11  1794 non-null   object
 12  Q10_Part_12  590 non-null    object
 13  Q10_Part_13  251 non-null    object
 14  Q10_Part_14  260 non-null    object
 15  Q10_Part_15  147 non-null    object
 16  Q10_Part_16  7174 non-null   object
 17  Q10_OTHER    737 non-null    object
dtypes: int64(1), object(17)
memory usage: 3.6+ MB

In [7]:
# Vemos la descripción transpuesta(.T) de las columnas numéricas

respuesta_q10.describe().T

         count     mean          std  min     25%      50%      75%      max
index  25973.0  12986.0  7497.903607  0.0  6493.0  12986.0  19479.0  25972.0

In [8]:
# Incluimos la descripción de las columnas tipo string/object

respuesta_q10.describe(include = 'object').T

,count,unique,top,freq
Q10_Part_1,9507,1,Kaggle Notebooks,9507
Q10_Part_2,9792,1,Colab Notebooks,9792
Q10_Part_3,1062,1,Azure Notebooks,1062
Q10_Part_4,209,1,Paperspace / Gradient,209
Q10_Part_5,1770,1,Binder / JupyterHub,1770
Q10_Part_6,175,1,Code Ocean,175
Q10_Part_7,1067,1,IBM Watson Studio,1067
Q10_Part_8,753,1,Amazon Sagemaker Studio Notebooks,753
Q10_Part_9,348,1,Amazon EMR Notebooks,348
Q10_Part_10,2051,1,Google Cloud Notebooks (AI Platform / Vertex AI),2051
Q10_Part_11,1794,1,Google Cloud Datalab,1794
Q10_Part_12,590,1,Databricks Collaborative Notebooks,590
Q10_Part_13,251,1,Zeppelin / Zepl Notebooks,251
Q10_Part_14,260,1,Deepnote Notebooks,260
Q10_Part_15,147,1,Observable Notebooks,147
Q10_Part_16,7174,1,None,7174
Q10_OTHER,737,1,Other,737

In [9]:
# Comprobamos si hay filas duplicadas

respuesta_q10.duplicated().sum()

0

In [10]:
# Vemos el porcentaje de valores nulos 

respuesta_q10.isnull().sum()/len(respuesta_q10)*100

index           0.000000
Q10_Part_1     63.396604
Q10_Part_2     62.299311
Q10_Part_3     95.911138
Q10_Part_4     99.195318
Q10_Part_5     93.185231
Q10_Part_6     99.326223
Q10_Part_7     95.891888
Q10_Part_8     97.100835
Q10_Part_9     98.660147
Q10_Part_10    92.103338
Q10_Part_11    93.092827
Q10_Part_12    97.728410
Q10_Part_13    99.033612
Q10_Part_14    98.998960
Q10_Part_15    99.434028
Q10_Part_16    72.379009
Q10_OTHER      97.162438
dtype: float64

---

### UNIFICACIÓN Y MODIFICACIONES

In [11]:
# Del archivo respuesta_q10 lo que más nos interesa son las columnas q10_part1, q10_part2 y q10_part16

notebooks = respuesta_q10.loc[:,['index','Q10_Part_1','Q10_Part_2','Q10_Part_16']]
notebooks

# --> 'notebooks' es ahora el DataFrame del archivo exported_db_data.csv, con las columnas que nos interesan

       index         Q10_Part_1       Q10_Part_2 Q10_Part_16
0          0                NaN  Colab Notebooks         NaN
1          1   Kaggle Notebooks  Colab Notebooks         NaN
2          2   Kaggle Notebooks              NaN         NaN
3          3                NaN  Colab Notebooks         NaN
4          4                NaN              NaN         NaN
...      ...                ...              ...         ...
25968  25968                NaN  Colab Notebooks         NaN
25969  25969                NaN              NaN        None
25970  25970                NaN              NaN         NaN
25971  25971                NaN              NaN        None
25972  25972                NaN              NaN         NaN

[25973 rows x 4 columns]

In [12]:
# Renombramos columnas 

columnas_nuevas1 ={'Q10_Part_1':'kaggle','Q10_Part_2':'colab','Q10_Part_16':'ninguno'}

In [13]:
notebooks.rename(columns = columnas_nuevas1,inplace = True)

In [14]:
notebooks

       index             kaggle            colab ninguno
0          0                NaN  Colab Notebooks     NaN
1          1   Kaggle Notebooks  Colab Notebooks     NaN
2          2   Kaggle Notebooks              NaN     NaN
3          3                NaN  Colab Notebooks     NaN
4          4                NaN              NaN     NaN
...      ...                ...              ...     ...
25968  25968                NaN  Colab Notebooks     NaN
25969  25969                NaN              NaN    None
25970  25970                NaN              NaN     NaN
25971  25971                NaN              NaN    None
25972  25972                NaN              NaN     NaN

[25973 rows x 4 columns]

In [15]:
notebooks.to_csv("../Archivos/notebooks.csv")