### APERTURA Y EXPLORACIÓN DEL ARCHIVO: ***data_remaning_kaggle.csv***
---

In [5]:
# Importamos las librerias

import pandas as pd
import numpy as np

In [6]:
# Abrimos el archivo, las primeras líneas del DataFrame

kaggle = pd.read_csv('../Archivos/data_remaning_kaggle.csv')
kaggle.head()

,Unnamed: 0,index,Q18_Part_1,Q18_Part_2,Q18_Part_3,Q18_Part_4,Q18_Part_5,Q18_Part_6,Q18_OTHER,Q19_Part_1,...,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,0,0,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN,"Word embeddings/vectors (GLoVe, fastText, word...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,"General purpose image/video tools (PIL, cv2, s...","Image segmentation methods (U-Net, Mask R-CNN,...","Object detection methods (YOLOv3, RetinaNet, etc)",Image classification and other general purpose...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
4,4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Listamos las columnas que tiene el DF

lista_columnas = list(kaggle.columns)

In [8]:
# Vemos la forma que tiene el DF

kaggle.shape
f'Las filas y columnas del archivo son {kaggle.shape}'

'Las filas y columnas del archivo son (25973, 214)'

In [9]:
# Vemos el tamaño del DF

kaggle.size

5558222

In [10]:
# Vemos la información general del DF

kaggle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25973 entries, 0 to 25972
Columns: 214 entries, Unnamed: 0 to Q38_B_OTHER
dtypes: float64(8), int64(2), object(204)
memory usage: 42.4+ MB

In [11]:
# Vemos la descripción transpuesta(.T) de las columnas numéricas

kaggle.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,25973.0,12986.0,7497.903607,0.0,6493.0,12986.0,19479.0,25972.0
index,25973.0,12986.0,7497.903607,0.0,6493.0,12986.0,19479.0,25972.0
Q30_B_Part_1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_2,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_OTHER,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Incluimos la descripción de las columnas tipo string/object

kaggle.describe(include = 'object').T

,count,unique,top,freq
Q18_Part_1,2662,1,"General purpose image/video tools (PIL, cv2, s...",2662
Q18_Part_2,2740,1,"Image segmentation methods (U-Net, Mask R-CNN,...",2740
Q18_Part_3,2716,1,"Object detection methods (YOLOv3, RetinaNet, etc)",2716
Q18_Part_4,4373,1,Image classification and other general purpose...,4373
Q18_Part_5,1492,1,"Generative Networks (GAN, VAE, etc)",1492
...,...,...,...,...
Q38_B_Part_8,1020,1,ClearML,1020
Q38_B_Part_9,666,1,Domino Model Monitor,666
Q38_B_Part_10,2747,1,MLflow,2747
Q38_B_Part_11,4542,1,None,4542
Q38_B_OTHER,377,1,Other,377

In [13]:
# Comprobamos si hay filas duplicadas

kaggle.duplicated().sum()

0

In [14]:
# Comprobamos si hay columnas duplicadas

# kaggle.duplicated(subset = ['']).sum()  # por revisar

In [15]:
# Vemos el porcentaje de valores nulos 

kaggle.isnull().sum()/len(kaggle)*100

Unnamed: 0        0.000000
index             0.000000
Q18_Part_1       89.750895
Q18_Part_2       89.450583
Q18_Part_3       89.542987
                   ...
Q38_B_Part_8     96.072845
Q38_B_Part_9     97.435799
Q38_B_Part_10    89.423632
Q38_B_Part_11    82.512609
Q38_B_OTHER      98.548493
Length: 214, dtype: float64

---

### UNIFICACIÓN Y MODIFICACIONES

In [16]:
# Borramos la columna Unnamed: 0 por tener otro índice con la misma información

kaggle.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [17]:
lista_columnas

['Unnamed: 0',
 'index',
 'Q18_Part_1',
 'Q18_Part_2',
 'Q18_Part_3',
 'Q18_Part_4',
 'Q18_Part_5',
 'Q18_Part_6',
 'Q18_OTHER',
 'Q19_Part_1',
 'Q19_Part_2',
 'Q19_Part_3',
 'Q19_Part_4',
 'Q19_Part_5',
 'Q19_OTHER',
 'Q27_A_Part_1',
 'Q27_A_Part_2',
 'Q27_A_Part_3',
 'Q27_A_Part_4',
 'Q27_A_Part_5',
 'Q27_A_Part_6',
 'Q27_A_Part_7',
 'Q27_A_Part_8',
 'Q27_A_Part_9',
 'Q27_A_Part_10',
 'Q27_A_Part_11',
 'Q27_A_OTHER',
 'Q28',
 'Q29_A_Part_1',
 'Q29_A_Part_2',
 'Q29_A_Part_3',
 'Q29_A_Part_4',
 'Q29_A_OTHER',
 'Q30_A_Part_1',
 'Q30_A_Part_2',
 'Q30_A_Part_3',
 'Q30_A_Part_4',
 'Q30_A_Part_5',
 'Q30_A_Part_6',
 'Q30_A_Part_7',
 'Q30_A_OTHER',
 'Q31_A_Part_1',
 'Q31_A_Part_2',
 'Q31_A_Part_3',
 'Q31_A_Part_4',
 'Q31_A_Part_5',
 'Q31_A_Part_6',
 'Q31_A_Part_7',
 'Q31_A_Part_8',
 'Q31_A_Part_9',
 'Q31_A_OTHER',
 'Q36_A_Part_1',
 'Q36_A_Part_2',
 'Q36_A_Part_3',
 'Q36_A_Part_4',
 'Q36_A_Part_5',
 'Q36_A_Part_6',
 'Q36_A_Part_7',
 'Q36_A_OTHER',
 'Q37_A_Part_1',
 'Q37_A_Part_2',
 'Q37_A_Part_3',
 'Q37_A_Part_4',
 'Q37_A_Part_5',
 'Q37_A_Part_6',
 'Q37_A_Part_7',
 'Q37_A_OTHER',
 'Q38_A_Part_1',
 'Q38_A_Part_2',
 'Q38_A_Part_3',
 'Q38_A_Part_4',
 'Q38_A_Part_5',
 'Q38_A_Part_6',
 'Q38_A_Part_7',
 'Q38_A_Part_8',
 'Q38_A_Part_9',
 'Q38_A_Part_10',
 'Q38_A_Part_11',
 'Q38_A_OTHER',
 'Q39_Part_1',
 'Q39_Part_2',
 'Q39_Part_3',
 'Q39_Part_4',
 'Q39_Part_5',
 'Q39_Part_6',
 'Q39_Part_7',
 'Q39_Part_8',
 'Q39_Part_9',
 'Q39_OTHER',
 'Q40_Part_1',
 'Q40_Part_2',
 'Q40_Part_3',
 'Q40_Part_4',
 'Q40_Part_5',
 'Q40_Part_6',
 'Q40_Part_7',
 'Q40_Part_8',
 'Q40_Part_9',
 'Q40_Part_10',
 'Q40_Part_11',
 'Q40_OTHER',
 'Q42_Part_1',
 'Q42_Part_2',
 'Q42_Part_3',
 'Q42_Part_4',
 'Q42_Part_5',
 'Q42_Part_6',
 'Q42_Part_7',
 'Q42_Part_8',
 'Q42_Part_9',
 'Q42_Part_10',
 'Q42_Part_11',
 'Q42_OTHER',
 'Q27_B_Part_1',
 'Q27_B_Part_2',
 'Q27_B_Part_3',
 'Q27_B_Part_4',
 'Q27_B_Part_5',
 'Q27_B_Part_6',
 'Q27_B_Part_7',
 'Q27_B_Part_8',
 'Q27_B_Part_9',
 'Q27_B_Part_10',
 'Q27_B_Part_11',
 'Q27_B_OTHER',
 'Q29_B_Part_1',
 'Q29_B_Part_2',
 'Q29_B_Part_3',
 'Q29_B_Part_4',
 'Q29_B_OTHER',
 'Q30_B_Part_1',
 'Q30_B_Part_2',
 'Q30_B_Part_3',
 'Q30_B_Part_4',
 'Q30_B_Part_5',
 'Q30_B_Part_6',
 'Q30_B_Part_7',
 'Q30_B_OTHER',
 'Q31_B_Part_1',
 'Q31_B_Part_2',
 'Q31_B_Part_3',
 'Q31_B_Part_4',
 'Q31_B_Part_5',
 'Q31_B_Part_6',
 'Q31_B_Part_7',
 'Q31_B_Part_8',
 'Q31_B_Part_9',
 'Q31_B_OTHER',
 'Q32_B_Part_1',
 'Q32_B_Part_2',
 'Q32_B_Part_3',
 'Q32_B_Part_4',
 'Q32_B_Part_5',
 'Q32_B_Part_6',
 'Q32_B_Part_7',
 'Q32_B_Part_8',
 'Q32_B_Part_9',
 'Q32_B_Part_10',
 'Q32_B_Part_11',
 'Q32_B_Part_12',
 'Q32_B_Part_13',
 'Q32_B_Part_14',
 'Q32_B_Part_15',
 'Q32_B_Part_16',
 'Q32_B_Part_17',
 'Q32_B_Part_18',
 'Q32_B_Part_19',
 'Q32_B_Part_20',
 'Q32_B_OTHER',
 'Q34_B_Part_1',
 'Q34_B_Part_2',
 'Q34_B_Part_3',
 'Q34_B_Part_4',
 'Q34_B_Part_5',
 'Q34_B_Part_6',
 'Q34_B_Part_7',
 'Q34_B_Part_8',
 'Q34_B_Part_9',
 'Q34_B_Part_10',
 'Q34_B_Part_11',
 'Q34_B_Part_12',
 'Q34_B_Part_13',
 'Q34_B_Part_14',
 'Q34_B_Part_15',
 'Q34_B_Part_16',
 'Q34_B_OTHER',
 'Q36_B_Part_1',
 'Q36_B_Part_2',
 'Q36_B_Part_3',
 'Q36_B_Part_4',
 'Q36_B_Part_5',
 'Q36_B_Part_6',
 'Q36_B_Part_7',
 'Q36_B_OTHER',
 'Q37_B_Part_1',
 'Q37_B_Part_2',
 'Q37_B_Part_3',
 'Q37_B_Part_4',
 'Q37_B_Part_5',
 'Q37_B_Part_6',
 'Q37_B_Part_7',
 'Q37_B_OTHER',
 'Q38_B_Part_1',
 'Q38_B_Part_2',
 'Q38_B_Part_3',
 'Q38_B_Part_4',
 'Q38_B_Part_5',
 'Q38_B_Part_6',
 'Q38_B_Part_7',
 'Q38_B_Part_8',
 'Q38_B_Part_9',
 'Q38_B_Part_10',
 'Q38_B_Part_11',
 'Q38_B_OTHER']

In [18]:
noprof = kaggle.loc[:,'Q27_B_Part_1':]
noprof.head(2)

,Q27_B_Part_1,Q27_B_Part_2,Q27_B_Part_3,Q27_B_Part_4,Q27_B_Part_5,Q27_B_Part_6,Q27_B_Part_7,Q27_B_Part_8,Q27_B_Part_9,Q27_B_Part_10,...,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Google Cloud Platform (GCP),NaN,Oracle Cloud,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN

In [19]:
noprof.notnull().sum()/len(noprof)*100

Q27_B_Part_1     28.853040
Q27_B_Part_2     21.745659
Q27_B_Part_3     28.814538
Q27_B_Part_4      9.968044
Q27_B_Part_5      6.591460
                   ...
Q38_B_Part_8      3.927155
Q38_B_Part_9      2.564201
Q38_B_Part_10    10.576368
Q38_B_Part_11    17.487391
Q38_B_OTHER       1.451507
Length: 101, dtype: float64

In [20]:
# Buscamos y eliminamos las columnas que solo tienen nulos
for i in noprof.columns:
    if noprof[i].notnull().sum() == 0:
        noprof.drop(i, axis = 1, inplace=True)
noprof.columns

Index(['Q27_B_Part_1', 'Q27_B_Part_2', 'Q27_B_Part_3', 'Q27_B_Part_4',
       'Q27_B_Part_5', 'Q27_B_Part_6', 'Q27_B_Part_7', 'Q27_B_Part_8',
       'Q27_B_Part_9', 'Q27_B_Part_10', 'Q27_B_Part_11', 'Q27_B_OTHER',
       'Q29_B_Part_1', 'Q29_B_Part_2', 'Q29_B_Part_3', 'Q29_B_Part_4',
       'Q29_B_OTHER', 'Q31_B_Part_1', 'Q31_B_Part_2', 'Q31_B_Part_3',
       'Q31_B_Part_4', 'Q31_B_Part_5', 'Q31_B_Part_6', 'Q31_B_Part_7',
       'Q31_B_Part_8', 'Q31_B_Part_9', 'Q31_B_OTHER', 'Q32_B_Part_1',
       'Q32_B_Part_2', 'Q32_B_Part_3', 'Q32_B_Part_4', 'Q32_B_Part_5',
       'Q32_B_Part_6', 'Q32_B_Part_7', 'Q32_B_Part_8', 'Q32_B_Part_9',
       'Q32_B_Part_10', 'Q32_B_Part_11', 'Q32_B_Part_12', 'Q32_B_Part_13',
       'Q32_B_Part_14', 'Q32_B_Part_15', 'Q32_B_Part_16', 'Q32_B_Part_17',
       'Q32_B_Part_18', 'Q32_B_Part_19', 'Q32_B_Part_20', 'Q32_B_OTHER',
       'Q34_B_Part_1', 'Q34_B_Part_2', 'Q34_B_Part_3', 'Q34_B_Part_4',
       'Q34_B_Part_5', 'Q34_B_Part_6', 'Q34_B_Part_7', 'Q34_B_Part_8',
       'Q34_B_Part_9', 'Q34_B_Part_10', 'Q34_B_Part_11', 'Q34_B_Part_12',
       'Q34_B_Part_13', 'Q34_B_Part_14', 'Q34_B_Part_15', 'Q34_B_Part_16',
       'Q34_B_OTHER', 'Q36_B_Part_1', 'Q36_B_Part_2', 'Q36_B_Part_3',
       'Q36_B_Part_4', 'Q36_B_Part_5', 'Q36_B_Part_6', 'Q36_B_Part_7',
       'Q36_B_OTHER', 'Q37_B_Part_1', 'Q37_B_Part_2', 'Q37_B_Part_3',
       'Q37_B_Part_4', 'Q37_B_Part_5', 'Q37_B_Part_6', 'Q37_B_Part_7',
       'Q37_B_OTHER', 'Q38_B_Part_1', 'Q38_B_Part_2', 'Q38_B_Part_3',
       'Q38_B_Part_4', 'Q38_B_Part_5', 'Q38_B_Part_6', 'Q38_B_Part_7',
       'Q38_B_Part_8', 'Q38_B_Part_9', 'Q38_B_Part_10', 'Q38_B_Part_11',
       'Q38_B_OTHER'],
      dtype='object')

In [21]:
platform = kaggle.loc[:,['Q27_A_Part_1','Q27_A_Part_2','Q27_A_Part_3','Q27_A_Part_4','Q27_A_Part_5','Q27_A_Part_6','Q27_A_Part_7','Q27_A_Part_8','Q27_A_Part_9','Q27_A_Part_10','Q27_A_Part_11','Q27_A_OTHER','Q28','Q39_Part_1','Q39_Part_2','Q39_Part_3','Q39_Part_4','Q39_Part_5','Q39_Part_6','Q39_Part_7','Q39_Part_8','Q39_Part_9','Q39_OTHER','Q40_Part_1','Q40_Part_2','Q40_Part_3','Q40_Part_4','Q40_Part_5','Q40_Part_6','Q40_Part_7','Q40_Part_8','Q40_Part_9','Q40_Part_10','Q40_Part_11','Q40_OTHER']]
platform.head(2)

,Q27_A_Part_1,Q27_A_Part_2,Q27_A_Part_3,Q27_A_Part_4,Q27_A_Part_5,Q27_A_Part_6,Q27_A_Part_7,Q27_A_Part_8,Q27_A_Part_9,Q27_A_Part_10,...,Q40_Part_3,Q40_Part_4,Q40_Part_5,Q40_Part_6,Q40_Part_7,Q40_Part_8,Q40_Part_9,Q40_Part_10,Q40_Part_11,Q40_OTHER
0,NaN,NaN,Google Cloud Platform (GCP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Kaggle Learn Courses,DataCamp,NaN,Udacity,Udemy,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Kaggle Learn Courses,NaN,NaN,NaN,NaN,NaN,"Cloud-certification programs (direct from AWS,...",University Courses (resulting in a university ...,NaN,NaN

In [22]:
platform.notnull().sum()/len(platform)*100

Q27_A_Part_1     14.326416
Q27_A_Part_2      9.432873
Q27_A_Part_3     12.097178
Q27_A_Part_4      2.202287
Q27_A_Part_5      1.747969
Q27_A_Part_6      1.116544
Q27_A_Part_7      1.058792
Q27_A_Part_8      1.501559
Q27_A_Part_9      0.997189
Q27_A_Part_10     0.662226
Q27_A_Part_11    10.353059
Q27_A_OTHER       1.297501
Q28              12.039426
Q39_Part_1        1.128095
Q39_Part_2        1.490009
Q39_Part_3        0.523621
Q39_Part_4       17.656797
Q39_Part_5        2.714357
Q39_Part_6       11.800716
Q39_Part_7        7.115081
Q39_Part_8        1.174296
Q39_Part_9       12.193432
Q39_OTHER         1.178147
Q40_Part_1       37.150117
Q40_Part_2       11.658261
Q40_Part_3       33.380819
Q40_Part_4       15.385208
Q40_Part_5        4.454626
Q40_Part_6       10.791976
Q40_Part_7       24.794979
Q40_Part_8       10.368460
Q40_Part_9        6.945674
Q40_Part_10      18.796442
Q40_Part_11       6.783968
Q40_OTHER         8.012166
dtype: float64

In [24]:
noprof.to_csv("../Archivos/noprof.csv")
platform.to_csv("../Archivos/platform.csv")