### APERTURA Y EXPLORACIÓN DEL ARCHIVO: ***data_txt_clean.txt***
---

In [31]:
# Importamos las librerias

import pandas as pd
import numpy as np

In [32]:
# Abrimos el archivo, las primeras líneas del DataFrame
data_txt = pd.read_csv('../Archivos/data_txt_clean.txt', sep =';')
data_txt.head()

,index,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,...,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34
0,0,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,...,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None
1,1,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,...,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN
2,2,Pakistan,Master’s degree,Software Engineer,1-3 years,Python,A laptop,Never,I do not use machine learning methods,Academics/Education,...,"Basic statistical software (Microsoft Excel, G...","Python, C++, Java","PyCharm ,Jupyter Notebook, Other",Other,Matplotlib,NaN,NaN,None of these activities are an important par...,"MySQL , MongoDB",None
3,3,Mexico,Doctoral degree,Research Scientist,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",More than 25 times,5-10 years,Academics/Education,...,"Local development environments (RStudio, Jupyt...",Python,"Spyder,Jupyter Notebook",NVIDIA GPUs,Matplotlib,"Scikit-learn , TensorFlow ,Keras","Dense Neural Networks (MLPs, etc), Convolutio...",Do research that advances the state of the ar...,NaN,NaN
4,4,India,Doctoral degree,Other,< 1 years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,10-20 years,Academics/Education,...,"Local development environments (RStudio, Jupyt...","Python, C, MATLAB","Spyder,MATLAB ,Jupyter Notebook",None,"Matplotlib ,Seaborn ,Ggplot / ggplot2","Scikit-learn ,PyTorch ,LightGBM","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,None,Microsoft Power BI

In [33]:
# Listamos las columnas que tiene el DF

list(data_txt.columns)

['index',
 'Q3',
 'Q4',
 'Q5',
 'Q6',
 'Q8',
 'Q11',
 'Q13',
 'Q15',
 'Q20',
 'Q21',
 'Q22',
 'Q23',
 'Q25',
 'Q26',
 'Q33',
 'Q35',
 'Q41',
 'Q7',
 'Q9',
 'Q12',
 'Q14',
 'Q16',
 'Q17',
 'Q24',
 'Q32',
 'Q34']

In [34]:
# Vemos la forma que tiene el DF

data_txt.shape
f'Las filas y columnas del archivo son {data_txt.shape}'

'Las filas y columnas del archivo son (25973, 27)'

In [35]:
# Vemos el tamaño del DF

data_txt.size

701271

In [36]:
# Vemos la información general del DF

data_txt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25973 entries, 0 to 25972
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   25973 non-null  int64
 1   Q3      25973 non-null  object
 2   Q4      25973 non-null  object
 3   Q5      25973 non-null  object
 4   Q6      25973 non-null  object
 5   Q8      24940 non-null  object
 6   Q11     24720 non-null  object
 7   Q13     24403 non-null  object
 8   Q15     23754 non-null  object
 9   Q20     16325 non-null  object
 10  Q21     16251 non-null  object
 11  Q22     16126 non-null  object
 12  Q23     15952 non-null  object
 13  Q25     15391 non-null  object
 14  Q26     15183 non-null  object
 15  Q33     4656 non-null   object
 16  Q35     2237 non-null   object
 17  Q41     18489 non-null  object
 18  Q7      24941 non-null  object
 19  Q9      24934 non-null  object
 20  Q12     24582 non-null  object
 21  Q14     23970 non-null  object
 22  Q16     19624 non-null  object
 23  Q17     19315 non-null  object
 24  Q24     15635 non-null  object
 25  Q32     9484 non-null   object
 26  Q34     9399 non-null   object
dtypes: int64(1), object(26)
memory usage: 5.4+ MB

In [37]:
# Vemos la descripción transpuesta(.T) de las columnas numéricas

data_txt.describe().T

         count     mean          std  min     25%      50%      75%      max
index  25973.0  12986.0  7497.903607  0.0  6493.0  12986.0  19479.0  25972.0

In [38]:
# Incluimos la descripción de las columnas tipo string/object

data_txt.describe(include = 'object').T

     count unique                                                top   freq
Q3   25973     66                                              India   7434
Q4   25973      7                                    Master’s degree  10132
Q5   25973     15                                            Student   6804
Q6   25973      7                                          1-3 years   7874
Q8   24940     13                                             Python  20213
Q11  24720      6                                           A laptop  16231
Q13  24403      5                                              Never  16457
Q15  23754      9                                           < 1 year   9163
Q20  16325     18                               Computers/Technology   4079
Q21  16251      5                                     0-49 employees   5055
Q22  16126      7                                                1-2   3642
Q23  15952      6  We are exploring ML methods (and may one day p...   3390
Q25  15391     26                                             $0-999   3369
Q26  15183      6                                          $0 ($USD)   5903
Q33   4656     20                                             MySQL    1110
Q35   2237     16                                 Microsoft Power BI    790
Q41  18489      6  Basic statistical software (Microsoft Excel, G...   7246
Q7   24941    825                                             Python   4740
Q9   24934   1330                                   Jupyter Notebook   2341
Q12  24582     26                                               None  13234
Q14  23970    467                               Matplotlib ,Seaborn    5697
Q16  19624   1401                                      Scikit-learn    2688
Q17  19315    756  Linear or Logistic Regression, Decision Trees ...   1807
Q24  15635     96  Analyze and understand data to influence produ...   2891
Q32   9484   1558                                               None   2297
Q34   9399    392                                               None   4123

In [39]:
# Comprobamos si hay filas duplicadas

data_txt.duplicated().sum()

0

In [40]:
# Vemos el porcentaje de valores nulos 

data_txt.isnull().sum()/len(data_txt)*100

index     0.000000
Q3        0.000000
Q4        0.000000
Q5        0.000000
Q6        0.000000
Q8        3.977207
Q11       4.824241
Q13       6.044739
Q15       8.543487
Q20      37.146267
Q21      37.431179
Q22      37.912448
Q23      38.582374
Q25      40.742309
Q26      41.543141
Q33      82.073692
Q35      91.387210
Q41      28.814538
Q7        3.973357
Q9        4.000308
Q12       5.355562
Q14       7.711855
Q16      24.444616
Q17      25.634313
Q24      39.802872
Q32      63.485158
Q34      63.812421
dtype: float64

---

### UNIFICACIÓN Y MODIFICACIONES

In [41]:
# Renombramos las columnas
# Creamos la variable en formato diccionario con 'el nombre antiguo' : 'y el nuevo'

columnas_nuevas ={'Q3':'pais','Q4':'estudios','Q5':'puesto_trabajo','Q6':'experiencia','Q7':'lenguaje_utilizado',
                    'Q8':'lenguaje_recomendado','Q9':'IDE','Q11':'dispositivo','Q12':'hardware',    
                    'Q14':'herramientas_visualizacion','Q15':'experiencia_ML','Q20':'industria',
                    'Q21':'tamaño_empresa','Q22':'responsables_DS', 'Q24':'tareas_principales',
                    'Q25':'salario','Q41':'herramienta_DA'}

In [42]:
# Utilizamos el método .rename() para hacer efectivo el cambio de nombre de las columnas 

data_txt.rename(columns = columnas_nuevas,inplace = True)
data_txt.head(2)

,index,pais,estudios,puesto_trabajo,experiencia,lenguaje_recomendado,dispositivo,Q13,experiencia_ML,industria,...,herramienta_DA,lenguaje_utilizado,IDE,hardware,herramientas_visualizacion,Q16,Q17,tareas_principales,Q32,Q34
0,0,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,...,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None
1,1,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,...,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN

In [43]:
# Borramos las columnas que no nos interesan con el método .drop(), en las siguientes celdas comprobamos las columnas y el DF para comprobar el cambio.

data_txt.drop(['Q33','Q35',"dispositivo", "Q13", "responsables_DS", "Q23", "Q26", "hardware", "tareas_principales"], axis = 1, inplace = True)

In [45]:
data_txt.columns

Index(['index', 'pais', 'estudios', 'puesto_trabajo', 'experiencia',
       'lenguaje_recomendado', 'experiencia_ML', 'industria', 'tamaño_empresa',
       'salario', 'herramienta_DA', 'lenguaje_utilizado', 'IDE',
       'herramientas_visualizacion', 'Q16', 'Q17', 'Q32', 'Q34'],
      dtype='object')

In [46]:
data_txt.head(3)

,index,pais,estudios,puesto_trabajo,experiencia,lenguaje_recomendado,experiencia_ML,industria,tamaño_empresa,salario,herramienta_DA,lenguaje_utilizado,IDE,herramientas_visualizacion,Q16,Q17,Q32,Q34
0,0,India,Bachelor’s degree,Other,5-10 years,Python,5-10 years,Manufacturing/Fabrication,50-249 employees,"25,000-29,999","Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",PostgreSQL,None
1,1,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,< 1 year,Manufacturing/Fabrication,"1000-9,999 employees","60,000-69,999","Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",NaN,NaN
2,2,Pakistan,Master’s degree,Software Engineer,1-3 years,Python,I do not use machine learning methods,Academics/Education,"1000-9,999 employees",$0-999,"Basic statistical software (Microsoft Excel, G...","Python, C++, Java","PyCharm ,Jupyter Notebook, Other",Matplotlib,NaN,NaN,"MySQL , MongoDB",None

In [47]:
# Exploramos la columna puesto_trabajo

data_txt['puesto_trabajo'].value_counts()

Student                         6804
Data Scientist                  3616
Software Engineer               2449
Other                           2393
Data Analyst                    2301
Currently not employed          1986
Research Scientist              1538
Machine Learning Engineer       1499
Business Analyst                 968
Program/Project Manager          849
Data Engineer                    668
Product Manager                  319
Statistician                     313
DBA/Database Engineer            171
Developer Relations/Advocacy      99
Name: puesto_trabajo, dtype: int64

In [48]:
# Exploramos la columna experiencia

data_txt['experiencia'].value_counts()

1-3 years                    7874
< 1 years                    5881
3-5 years                    4061
5-10 years                   3099
10-20 years                  2166
20+ years                    1860
I have never written code    1032
Name: experiencia, dtype: int64

In [49]:
# Exploramos la columna país

data_txt['pais'].value_counts()

India                       7434
United States of America    2650
Other                       1270
Japan                        921
China                        814
                            ...
Kazakhstan                    45
Norway                        45
Algeria                       44
Ethiopia                      43
Iraq                          43
Name: pais, Length: 66, dtype: int64

In [50]:
# En las siguientes celdas cambiamos y separamos toda la columna herramientas_visualización hasta convertirlo 
# en un csv para utilizar más tarde

df_herramientas = data_txt['herramientas_visualizacion'].str.split(',',expand=True)

In [51]:
df_herramientas

,0,1,2,3,4,5,6,7,8,9,10
0,Matplotlib,Seaborn,Ggplot / ggplot2,Shiny,Leaflet / Folium,None,None,None,None,None,None
1,Matplotlib,None,None,None,None,None,None,None,None,None,None
2,Matplotlib,None,None,None,None,None,None,None,None,None,None
3,Matplotlib,None,None,None,None,None,None,None,None,None,None
4,Matplotlib,Seaborn,Ggplot / ggplot2,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
25968,Matplotlib,Seaborn,None,None,None,None,None,None,None,None,None
25969,None,None,None,None,None,None,None,None,None,None,None
25970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25971,Matplotlib,Seaborn,None,None,None,None,None,None,None,None,None
25972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
# Renombramos las columnas del 'subdataframe' df_herramientas
# Creamos la variable en formato diccionario con 'el nombre antiguo' : 'y el nuevo'

columnas_nuevas2 = {0: 'Matplotlib', 1:'Seaborn', 2: 'Plotly / Plotly Express', 3: 'Ggplot / ggplot2', 4:'Shiny', 
                    5:'D3 js', 6: 'Altair', 7: 'Bokeh', 8: 'Geoplotlib', 9: 'Leaflet / Folium', 10: 'Other'}

In [53]:
df_herramientas.rename(columns = columnas_nuevas2, inplace = True)
df_herramientas.head(2)

,Matplotlib,Seaborn,Plotly / Plotly Express,Ggplot / ggplot2,Shiny,D3 js,Altair,Bokeh,Geoplotlib,Leaflet / Folium,Other
0,Matplotlib,Seaborn,Ggplot / ggplot2,Shiny,Leaflet / Folium,None,None,None,None,None,None
1,Matplotlib,None,None,None,None,None,None,None,None,None,None

In [54]:
df_herramientas.value_counts()

Matplotlib    Seaborn   Plotly / Plotly Express   Ggplot / ggplot2   Shiny   D3 js   Altair   Bokeh   Geoplotlib   Leaflet / Folium   Other
 Matplotlib   Seaborn   Plotly / Plotly Express   Ggplot / ggplot2   Shiny   D3 js   Altair   Bokeh   Geoplotlib   Leaflet / Folium    Other    2
dtype: int64

In [55]:
df_sum_herramientas= pd.DataFrame(df_herramientas.notnull().sum())
df_sum_herramientas

                             0
Matplotlib               23970
Seaborn                  14906
Plotly / Plotly Express   7301
Ggplot / ggplot2          2882
Shiny                     1094
D3 js                      403
Altair                     146
Bokeh                       65
Geoplotlib                  39
Leaflet / Folium            29
Other                        2

In [56]:
df_sum_herramientas.rename(columns = {0:'sum'}, inplace= True)
df_sum_herramientas

                           sum
Matplotlib               23970
Seaborn                  14906
Plotly / Plotly Express   7301
Ggplot / ggplot2          2882
Shiny                     1094
D3 js                      403
Altair                     146
Bokeh                       65
Geoplotlib                  39
Leaflet / Folium            29
Other                        2

In [57]:
data_txt.to_csv("../Archivos/txt_limpio.csv")