In [1]:
import pandas as pd

In [7]:
pd.options.display.max_columns = None

In [2]:
df_xml = pd.read_csv("../Archivos/xml_limpio.csv", index_col="index")
df_txt = pd.read_csv("../Archivos/txt_limpio.csv", index_col="index")
df_noprof = pd.read_csv("../Archivos/noprof.csv")
df_notebooks = pd.read_csv("../Archivos/notebooks.csv", index_col="index")
df_platform = pd.read_csv("../Archivos/platform.csv")

In [25]:
df_noprof.head()

,Unnamed: 0,Q27_B_Part_1,Q27_B_Part_2,Q27_B_Part_3,Q27_B_Part_4,Q27_B_Part_5,Q27_B_Part_6,Q27_B_Part_7,Q27_B_Part_8,Q27_B_Part_9,...,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,Google Cloud Platform (GCP),NaN,Oracle Cloud,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
2,2,Amazon Web Services (AWS),NaN,Google Cloud Platform (GCP),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Amazon Web Services (AWS),Microsoft Azure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_txt.drop("Unnamed: 0", axis= 1, inplace= True)
df_xml.drop("Unnamed: 0", axis= 1, inplace= True)
df_notebooks.drop("Unnamed: 0", axis= 1, inplace= True)

In [5]:
df_noprof.rename(columns= {"Unnamed: 0": "index"}, inplace= True)
df_platform.rename(columns= {"Unnamed: 0": "index"}, inplace= True)

In [6]:
df_noprof.set_index(["index"], inplace= True)
df_platform.set_index(["index"], inplace= True)

In [10]:
df_notebooks.head()

              Q10_kaggle        Q10_colab Q10_none
index
0                    NaN  Colab Notebooks      NaN
1       Kaggle Notebooks  Colab Notebooks      NaN
2       Kaggle Notebooks              NaN      NaN
3                    NaN  Colab Notebooks      NaN
4                    NaN              NaN      NaN

In [29]:
df_xml.head(2)

         age gender
index
0      50-54    Man
1      50-54    Man

In [30]:
df_xml.shape

(25973, 2)

In [31]:
df_txt.shape

(25973, 17)

In [7]:
df_txt.head(2)

,pais,estudios,puesto_trabajo,experiencia,lenguaje_recomendado,experiencia_ML,industria,tamaÃ±o_empresa,salario,herramienta_DA,lenguaje_utilizado,IDE,herramientas_visualizacion,Q16,Q17,Q32,Q34
index,,,,,,,,,,,,,,,,,
0,India,Bachelorâ€™s degree,Other,5-10 years,Python,5-10 years,Manufacturing/Fabrication,50-249 employees,"25,000-29,999","Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",PostgreSQL,None
1,Indonesia,Masterâ€™s degree,Program/Project Manager,20+ years,Python,< 1 year,Manufacturing/Fabrication,"1000-9,999 employees","60,000-69,999","Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",NaN,NaN

In [7]:
df_join = df_xml.join(df_txt, on= "index").join(df_notebooks, on= "index").join(df_platform, on= "index").join(df_noprof, on= "index")
df_join.head()

,age,gender,pais,estudios,puesto_trabajo,experiencia,lenguaje_recomendado,experiencia_ML,industria,tamaÃ±o_empresa,...,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
index,,,,,,,,,,,,,,,,,,,,,
0,50-54,Man,India,Bachelorâ€™s degree,Other,5-10 years,Python,5-10 years,Manufacturing/Fabrication,50-249 employees,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,50-54,Man,Indonesia,Masterâ€™s degree,Program/Project Manager,20+ years,Python,< 1 year,Manufacturing/Fabrication,"1000-9,999 employees",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
2,22-24,Man,Pakistan,Masterâ€™s degree,Software Engineer,1-3 years,Python,I do not use machine learning methods,Academics/Education,"1000-9,999 employees",...,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,45-49,Man,Mexico,Doctoral degree,Research Scientist,20+ years,Python,5-10 years,Academics/Education,"1000-9,999 employees",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
4,45-49,Man,India,Doctoral degree,Other,< 1 years,Python,10-20 years,Academics/Education,50-249 employees,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_join.shape

(25973, 150)

In [8]:
df_join.to_csv("../Archivos/union_datos.csv")

In [9]:
df_join.to_csv("../Limpieza/union_datos.csv")